.dropdown-item {
    white-space: normal;
}

.dynamic-content {
    display:none !important;
}

aside #subNav2 {
    display: block;
    margin: 15px 0;
    padding: 10px;
    background-color: #f0f0f0;
    background-position: center bottom;
    width: 90%;
    padding: .5em 0.5em .5em 1em;
}

@media only screen and (max-width: 960px) {
aside #subNav2 {
    display: block;
    display: block;
    margin: 15px 0;
    padding: 10px;
    background-color: #f0f0f0;
    background-position: center bottom;
    padding: .5em 0.5em .5em 1em;
    width: 100%;
}
}

aside #subNav2 li {
	list-style-type: none;
	}



