.htco1iFrameHolder::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    width: 0 !important;
}

.htco1iFrameHolder {
    height: 450px;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

}